body {
    background-color: #DFFFF2;
    width: 100%;
    height: 100%;
}

.calcOuter {
    position: absolute;
    left: 45%;
    top: 30%;
    width: 250px;
    height: 300px;
    background-color: #DBDBDB;
    border-radius: 10px;
    padding: 10px;
}

.display {
    background-color: white;
    border: 1px solid gray;
    text-align: right;
    font-size: 2em;
    margin: 15px 5px 5px 5px;
    padding: 2px;
}

.table {
    height: 100%;
    width: 90%;
    margin: auto;
}

.table * {
    border: 1px solid white;
    text-align: center;
    border-radius: 5px;
}

.table td {
    width: 30px;
    height: 30px;
    cursor: default;
    transition: background-color 1s;
}

.table td:hover {
    background-color: gray;
}

.buttons {
    width: 100%;
    height: 80%;
}